.print-button-container {
  width: 160px; /* Match zoom controls width */
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  padding: 2px;
  display: flex;
  align-items: center;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.print-button-container button {
  width: 100%;
}

@media print {
  .print-button-container {
    display: none;
  }

  .zoom-controls {
    display: none;
  }
}